{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ wish.title }}</h1>
    <a href="{{ path('category_afficher', {'category' : wish.category.id}) }}">{{ wish.category.name }}</a>
    <h3>{{ wish.description }}</h3>
    <h5> Le {{ wish.dateCreated| date("d/m/Y")}} par {{ wish.user.pseudo }}</h5>

{% endblock %}

{% block title %}

{% endblock %}
